*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}


header{
    background-color: rgba(44,62,80,255);
    height: 60px;
}

.bg-green{
    background-color: rgba(26,188,156,255);
    color: #fff;
}

.bg-white{
    color: rgba(44,62,80,255);
}

.bg-sky-grey{
    background-color: rgba(58,84,109,255);
    color: #fff;
}

.bg-grey{
    background-color: rgba(44,62,80,255);
    color: #fff;
}

.row{
    padding-bottom: 2rem;
}

.line{
    display: inline-block;
    width: 80px;
    height: 4px;
    border-radius: 10px;
    background-color: #fff;
}

h1{
    margin: 1.5rem 0;
}

h3{
    margin-top: 2rem;
}

p{
    margin: 2rem 0;
}


.img-fluid{
    margin-top: 1.3rem;
    border-radius: 10px;
}

.download{
    padding: 7px 26px;
    border-radius: 15px;
    border: 1px solid #fff;
}



.copyright{
    font-size: 12px;
    margin: 15px 0 0;
}

